body {
    font-family: Arial, sans-serif;
    font-size: small;
    color: rgba(0, 0, 0, 0.87);  
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.upperMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
    padding-right: 15px;
}

.upperMenuItem {
    padding: 0px 15px 0px 0px;
}

.material-icons {
    padding: 0px 15px 0px 0px;
}

.profilePic {
    height: 32px;
    width: 32;
    border-radius: 50%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.googleLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    padding: 10px 40px 10px 40px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 25px;
    background-image: url(/Pics/outline_search_black_24dp.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.searchInput:focus {
    outline: none;
}

.searchButtons {
    display: flex;
    justify-content: center;
}

.searchButton {
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    padding: 7px 20px 7px 20px;
    background-color: #f8f9fa;
    border-radius: 3px;
    cursor: pointer;
}

.searchButton:hover {
    box-shadow: 1px 1px 2px #dfdede;
}

.languageSwitch {
    text-align: center;
    padding-top: 5px;
    margin: 25px;
    
}

.languageSwitchLink {
    text-decoration: none;
}

.footer {
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.countryName {
    padding: 15px 30px 15px 30px;
    font-size: 15px;
}

.lowerNavbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 30px;
    font-size: 14px;
}

.leftFooter {
    display: flex;
}

.leftFooterItem {
    padding: 0px 15px 0px 15px;
}

.rightFooter {
    display: flex;
}

.rightFooterItem {
    padding: 0px 15px 0px 15px;
}
